services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vegetables-shop
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env.production
    environment:
      - NODE_ENV=production
